<script src="javascripts/find.js"></script>
<div>
    <button class="buttons">
        <a href="/">Создать игру</a>
    </button>
</div>
<div id="map" ></div>
<div id="marks" data-marks="{{allGames}}">
</div>
