<!DOCTYPE html>
<html>
  <head>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://api-maps.yandex.ru/2.1/?apikey=e87888d6-69eb-48b1-a9d8-c0aad0e970b7&lang=ru_RU" type="text/javascript"></script>
    </head>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
